.webinar-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.webinar-title{
    margin-bottom: 40px;
    margin-left: 40px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 16px;
  }