@media (max-width:640px){
    .QuotationDivide{
        display: block !important;
    }
}

.LabelsService{
    
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 16px;
  }